/file_structure_tree_java/text.txt
/file_structure_tree_java/inputFiles.txt
/file_structure_tree_java/target/original-file_structure_tree_java-1.0-SNAPSHOT.jar
/file_structure_tree_java/target/file_structure_tree_java-1.0-SNAPSHOT.jar